.high_container {
    grid-area: 2 / 1 / 6 / 6; 
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.mid_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em 3em;
    overflow: scroll;
    overflow-x: hidden;
}

.pagination_container {
    padding: 1em;
}

.card {
    width: 15em;
    height: 17em;
    background-color: rgba(0, 0, 0, 0.318);
    align-self: center;
}

.card h3 {
    color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mid_container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mid_container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


