.tag_container {
    display: flex;
    justify-content: left;
}

.tag {
    background-color: rgb(140, 203, 226);
    border-style: none;
    border-radius: 8px;
    border-width: 0.02rem;
    color: #134644;
    padding: 3%;
    width: fit-content;
    text-align: center;
}

.button_container {
    display: flex;
    justify-content: right;
}

.button {
    border-style: none;
    background-color: #1c1c1c;
    transition: all 500ms ease;
    margin-left: 0.4rem;
    padding: 2% 10%;
}

.button:hover {
    background-color: transparent;
    color: black;
    background-color: #c8c3c3;
    transition: all 500ms ease;
}