.high_container {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, 50%, 50%;
}