:root{
    --size: 125px;
    --icon-size: 30px;
    --icon-color: #483C3E;
  }

.high_container {
    grid-area: 2 / 1 / 6 / 6; 
    display: flex;
    flex-flow: column;
    align-items: center;
}


.projectInfo {
    text-align: left;
    width: fit-content;
    padding: 2%;
    border-radius: 8px;
    background-color: rgb(149, 110, 71);
    color: bisque;
    margin-bottom: 9em;
    margin-top: 3em;
}

.boxContainer {
   width: 100%;
   display: flex;
   justify-content: space-around;
}

.box {
    width: 30%;
    height: auto;
    border-radius: 4px;
    text-align: center;
    padding: 3%;
    color: bisque;
    font-weight: bold;
    background-color: rgb(179, 134, 90);
    box-shadow: 2px 2px 10px #1c1c1c;
    transition: all 200ms ease-in;
}

.box:hover {
    background-color: rgb(128, 95, 63);;
}
