.container {
    margin-top: 3rem;
}

.dayState {
    font-weight: bold;
    z-index: 1;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: rgb(149, 110, 71);
  }
